.booking-accordion .Mui-expanded.MuiAccordionSummary-gutters {
    min-height: 48px;
}

.booking-accordion.MuiAccordion-gutters {
    border-top-width: 0;
    border-bottom-width: 0;
    /* border: 0; */
}

.booking-accordion .MuiAccordionSummary-gutters {
    background-color: #ececec;
}

.booking-accordion .Mui-expanded.MuiAccordionSummary-contentGutters {
    margin: 14px 0;
}